.navbar {
  height: 50px;
  overflow: hidden;
  background-color: #1d1d1d;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1000;
  box-shadow: 5px 10px 18px #313131;
}

#logo {
  float: left;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  position: relative;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#logo a {
  color: #fa8231;
}

 a {
  text-decoration: none;
  color: #adadad;
  padding: 20px;
}

.vertical-align {
  display: flex;
  color: #adadad;
  color: #272727;
  padding: 50px;
  text-decoration: none;
  position: relative;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* Change background on mouse-over */
.navbar a:hover {
  color: #fa8231;
  transition: 0.3s;
}

.navbar a:not(:hover) {
  color: #adadad;
  transition: 0.3s;
}
/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

#test {
  font-size: 100px;
}
